@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* -----------------------------------------------------------------------------
  VARIABLES
------------------------------------------------------------------------------*/

$font-stack: 'Lato', sans-serif;
$font-title: 'Iceland', cursive;
$laika-purple: #390099;
$laika-pink: #ff0099;
$laika-white: #f8f8f8;
$laika-black: #0C090D;
$laika-blue: #228DFF;
$glow: 0 0 10px $laika-white, 0 0 20px $laika-white, 0 0 30px $laika-white, 0 0 40px $laika-blue, 0 0 70px $laika-blue, 0 0 80px $laika-blue, 0 0 100px $laika-blue, 0 0 150px $laika-blue;

/* -----------------------------------------------------------------------------
  GENERAL STYLES
------------------------------------------------------------------------------*/

body {
  align-items: center;
  background-color: $laika-black;
  box-sizing: border-box;
  color: $laika-white;
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  font-size: 0.9rem;
  line-height: 1.5;
}

/* -----------------------------------------------------------------------------
  TYPOGRAPHY
------------------------------------------------------------------------------*/

a {
  text-decoration: none;
  text-shadow: none;
}

p,
a:not(.loginButton) {
  &:not(.gameInstructions) {
    text-shadow: $glow;
  }
  color: $laika-white;
  letter-spacing: 0.3em;
  margin: 0.2em 0;
}

a:not(.loginButton) {
  border-bottom: 2px solid transparent;
  padding-bottom: 0.3em;
  transition: border-bottom 450ms ease;

  &:hover {
    border-bottom: 2px solid $laika-white;
  }
}

* {
  border: 1px solid yellow;
}

.headline {
  text-shadow: $glow;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin: 0.2em;
  font-family: $font-title;
  font-size: 1.6rem;
}

/* -----------------------------------------------------------------------------
  LOGIN PAGE
------------------------------------------------------------------------------*/

.logo {
  box-sizing: border-box;
  padding: 1rem;
  filter: drop-shadow(3px 3px 5px $laika-blue);
  height: 15rem;
  width: 15rem;
}

.login {
  margin-top: 2rem;

  .loginButton {
    align-items: center;
    background-color: $laika-pink;
    border-radius: 2px;
    color: $laika-white;
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: center;
    padding: 0.7em 1em;
    transition: background-color 650ms ease, color 650ms ease;

    .facebook-icon {
      margin-left: 0.5rem;
      width: 1.7rem;
      height: 1.7rem;
    }

    &:hover {
      background-color: $laika-blue;
      box-shadow: 0 0 5px $laika-white, 0 0 10px $laika-white, 0 0 15px $laika-white, 0 0 20px $laika-blue, 0 0 35px $laika-blue, 0 0 40px $laika-blue, 0 0 50px $laika-blue, 0 0 75px $laika-blue;
    }
  }
}

/* -----------------------------------------------------------------------------
  STARRY BACKGROUND WITH GRADIENT
------------------------------------------------------------------------------*/

.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -5;
  filter: brightness(40%);
}

@keyframes stars {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

@keyframes moveSpacedust {
  from { background-position: left; }
  to { background-position: 200%; }
}

.spacedust {
  width: 100%;
  height: 100%;
  background: url("img/stardust.png") repeat-x left;
  background-size: 200%;
  animation: moveSpacedust 1s infinite linear;
  position: absolute;
  z-index: -3;
  display: none;
}

.stars {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  width: 100vw;
  animation: stars 2s linear infinite;
  background: transparent url("img/stars.png") repeat top center;
  z-index: -4;
}

/* -----------------------------------------------------------------------------
  USER INFO (SHOWN WHEN LOGGED IN)
------------------------------------------------------------------------------*/

.user-info {
  position: absolute;
  top: 4%;
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  width: 90vw;

  .user-info__content {
    margin-right: 1rem;
    text-align: right;
    height: 100%;

    p {
      margin-top: 0;
    }
  }

  .photo__container {
    box-shadow: 0 0 2px $laika-white, 0 0 10px $laika-white, 0 0 2px $laika-white, 0 0 15px $laika-blue, 0 0 15px $laika-blue, 0 0 15px $laika-blue, 0 0 5px $laika-blue, 0 0 2px $laika-blue;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }

  .photo {
    width: 100%;
  }
}

/* -----------------------------------------------------------------------------
  GAME CONTAINER
------------------------------------------------------------------------------*/

.gameContainer {
  margin-top: 0;
  position: relative;
  width: 100vw;
  height: 55vh;
  overflow: hidden; // Prevents calculations when monsters are out of view
}

.gameInfo {
  text-align: right;
  margin-top: 5%;
  width: 90vw;
  .scoreText {
    text-shadow: $glow;
    letter-spacing: 0.3em;
  }
  p {
    margin-top: 0;
  }
  .gameInstructions {
    margin-bottom: 0;
  }
}

@keyframes flying {
  0% { transform: rotate( 6deg ); }
  50% { transform: rotate( 12deg ); }
  100% { transform: rotate( 6deg ); }
}

/* -----------------------------------------------------------------------------
  LAIKA (PLAYER)
------------------------------------------------------------------------------*/

.player {
  // FIXME: animation needs to be solved in another way.
  // animation: flying 1s infinite;
  width: 168px;
  height: 135px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;

  .laika {
    width: 100%;
    height: auto;
  }
}

.player.onJump {
  .laika {
    transform: rotate(-12deg);
    .laikaFire {
      stroke: yellow;
      stroke-width: 80;
    }
  }
}

.player.damage {
  .laika {
    path {
      fill: rgb(170, 0, 0);
    }
  }
}

/* -----------------------------------------------------------------------------
  MONSTERS (ENEMIES)
------------------------------------------------------------------------------*/

.monster {
  // animation: flying 1s infinite;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("img/spritesheet.png");
  background-repeat:no-repeat;
  background-size: 100% auto;
}

.monster.one {
  background-position: 0px 0px;
}

.monster.two {
  background-position: 0px -50px;
}

.monster.three {
  background-position: 0px -100px;
}

/* -----------------------------------------------------------------------------
  NAVIGATION
------------------------------------------------------------------------------*/

.navigation {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;

  .navigation__list {
    list-style-type: none;
    padding-left: 0;

    .navigation__list-item {
      display: inline;
    }

    .navigation__list-item:not(:last-of-type)::after {
      content: "|";
      margin: 1rem;
      text-shadow: $glow;

    }
  }
}

/* -----------------------------------------------------------------------------
  UTILITIES
------------------------------------------------------------------------------*/

.show {
  display: block;
}

.hide {
  display: none;
}

.fadeOut {
  animation: fadeOut 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0; display: none;}
}
