@import url('https://fonts.googleapis.com/css?family=Iceland|Lato:300,400,700');

/* -----------------------------------------------------------------------------
  VARIABLES
------------------------------------------------------------------------------*/

$white: #f8f8f8;
$black: #0C090D;
$blue: #228DFF;
$box-shadow-small: 0 0 1px $white, 0 0 5px $white, 0 0 1px $white, 0 0 7px $blue, 0 0 7px $blue, 0 0 7px $blue, 0 0 3px $blue, 0 0 1px $blue;
$box-shadow-medium: 0 0 5px $white, 0 0 10px $white, 0 0 15px $white, 0 0 20px $blue, 0 0 35px $blue, 0 0 40px $blue, 0 0 50px $blue, 0 0 75px $blue;
$box-shadow-transparent: 0 0 5px transparent, 0 0 10px transparent, 0 0 15px transparent, 0 0 20px transparent, 0 0 35px transparent, 0 0 40px transparent, 0 0 50px transparent, 0 0 75px transparent;
$glow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $white, 0 0 40px $blue, 0 0 70px $blue, 0 0 80px $blue, 0 0 100px $blue, 0 0 150px $blue;
$font-content: 'Lato', sans-serif;
$font-title: 'Iceland', cursive;
$laika-pink: #ff0099;
$laika-fire: #faaf2e;
$laika-fireOnJump: yellow;
$laika-rocket: #5f6d7c;
$laika-lightRed: #c5051c;
$laika-darkRed: #8a0213;
$laika-skin: #551606;

/* -----------------------------------------------------------------------------
  GENERAL STYLES
------------------------------------------------------------------------------*/

body {
  background-color: $black;
  color: $white;
  font-family: $font-content;
  font-size: 0.9rem;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

.flexbox {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

/* -----------------------------------------------------------------------------
  TYPOGRAPHY
------------------------------------------------------------------------------*/

a {
  text-decoration: none;
  text-shadow: none;
}

p,
a:not(.loginButton) {
  color: $white;
  letter-spacing: 0.3em;
  margin: 0.2em 0;
}

a:not(.loginButton) {
  border-bottom: 2px solid transparent;
  padding-bottom: 0.3em;
  transition: border-bottom 450ms ease;

  &:hover {
    border-bottom: 2px solid $white;
  }
}

.headline, .rotateInstructions {
  font-family: $font-title;
  font-size: 2rem;
  letter-spacing: 0.4em;
  margin: 0.2em;
  text-align: center;
  text-transform: uppercase;
  z-index: 4;
}

/* -----------------------------------------------------------------------------
  LOGIN PAGE
------------------------------------------------------------------------------*/

.logo {
  box-sizing: border-box;
  filter: drop-shadow(3px 3px 5px $blue);
  height: 15rem;
  padding: 2rem;
  width: 15rem;
  z-index: 4;

  .detailsColor {
    fill: $blue;
  }

  .mainColor {
    fill: $black;
  }
}

.login {
  margin: 2rem 0 1rem;
  z-index: 4;

  .loginButton {
    align-items: center;
    background-color: $laika-pink;
    border-radius: 2px;
    box-shadow: $box-shadow-transparent;
    color: $white;
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: center;
    padding: 0.7em 1em;
    transition: background-color 450ms ease, color 450ms ease, box-shadow 450ms ease;

    .facebook-icon {
      height: 1.7rem;
      margin-left: 0.5rem;
      width: 1.7rem;
    }

    &:hover {
      background-color: $blue;
      box-shadow: $box-shadow-medium;
    }
  }
}

/* -----------------------------------------------------------------------------
  STARRY BACKGROUND WITH GRADIENT
------------------------------------------------------------------------------*/

@keyframes stars {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}

@keyframes moveSpacedust {
  from { background-position: left; }
  to { background-position: 200%; }
}

.spacedust {
  animation: moveSpacedust 1s infinite linear;
  background: url("img/stardust.png") repeat-x left;
  background-size: 200%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.stars {
  animation: stars 2s linear infinite;
  background: transparent url("img/stars.png") repeat top center;
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 2;
}

/* -----------------------------------------------------------------------------
  USER INFO (SHOWN WHEN LOGGED IN)
------------------------------------------------------------------------------*/

.user-info {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 4%;
  width: 90vw;
  z-index: 5;

  .user-info__content {
    height: 100%;
    margin-right: 1rem;
    text-align: right;

    p {
      margin-top: 0;
    }
  }

  .photo__container {
    box-shadow: $box-shadow-small;
    height: 60px;
    overflow: hidden;
    width: 60px;
  }

  .photo {
    width: 100%;
  }
}

/* -----------------------------------------------------------------------------
  GAME CONTAINER
------------------------------------------------------------------------------*/

.rotateIconContainer {
  align-items: center;
  background-color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 6;

  .svgRotate {
    fill: $white;
    width: 40%;
  }
}

.content {
  z-index: 4;
}

.gameContainer {
  box-sizing: border-box;
  height: 55vh;
  overflow: hidden; // Prevents calculations when monsters are out of view
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}

.gameInfo {
  position: relative;
  text-align: right;
  width: 90vw;
  z-index: 4;

  .scoreText {
    letter-spacing: 0.3em;
  }

  p {
    margin-top: 0;
  }

}

/* -----------------------------------------------------------------------------
  GAME INSTRUCTIONS
------------------------------------------------------------------------------*/

.instructions {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 43%;
  left: 0;
  padding: 0 3rem;
}

.instructions::after {
  content: "Touch Screen to Jump";
}

/* -----------------------------------------------------------------------------
  LAIKA (PLAYER)
------------------------------------------------------------------------------*/

.player {
  bottom: 3rem;
  display: block;
  height: auto;
  position: absolute;
  right: 0;
  opacity: 0;
  width: 100px;
  transition: opacity 450ms ease;

  .laika {
    height: auto;
    width: 100%;

    .laikaCostume {
      fill: $laika-pink;
    }

    .laikaFire {
      fill: $laika-fire;
    }

    .laikaRocket {
      fill: $laika-rocket;
    }

    .laikaSkin {
      fill: $laika-skin;
    }

    .laikaWingDark {
      fill: $laika-darkRed;
    }

    .laikaWingLight {
      fill: $laika-lightRed;
    }
  }
}

.player.onJump {

  .laika {
    transform: rotate(-12deg);

    .laikaFire {
      stroke: $laika-fireOnJump;
      stroke-width: 80;
    }
  }
}

.player.damage {

  .laika {
    path {
      fill: $laika-lightRed;
    }
  }
}

/* -----------------------------------------------------------------------------
  MONSTERS (ENEMIES)
------------------------------------------------------------------------------*/

.monster {
  background-image: url("img/spritesheet.png");
  background-repeat:no-repeat;
  background-size: 100% auto;
  bottom: 3rem;
  display: block;
  height: 50px;
  margin-bottom: 2%;
  position: absolute;
  right: 0;
  width: 50px;

  &.one {
    background-position: 0px 0px;
  }

  &.two {
    background-position: 0px -50px;
  }

  &.three {
    background-position: 0px -100px;
  }
}

/* -----------------------------------------------------------------------------
  HIGHSCORE LIST
------------------------------------------------------------------------------*/

.highscoreContainer {
  height: 55vh;
  margin-top: 15%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}

.highscore__list {
  list-style: none;
  margin: 0.2em auto;
  padding: 0;
  text-align: center;
  width: 100%;

  .highscore__list-item {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .points {
    color: $blue;
    font-family: $font-title;
    font-size: 1.7rem;
    padding-left: 5px;
  }
}

/* -----------------------------------------------------------------------------
  NAVIGATION
------------------------------------------------------------------------------*/

.navigation {
  text-align: center;
  width: 100vw;
  z-index: 4;
  bottom: 0;
  position: absolute;

  .navigation__list {
    list-style-type: none;
    padding-left: 0;

    .navigation__list-item {
      display: inline;
    }

    .navigation__list-item:not(:last-of-type)::after {
      content: "|";
      margin: 1rem;
    }
  }
}

/* -----------------------------------------------------------------------------
  UTILITIES
------------------------------------------------------------------------------*/

.show {
  display: block;
}

.hide {
  display: none;
}

.fadeOut {
  animation: fadeOut 250ms;
  animation-fill-mode: forwards;
}

.glow {
  text-shadow: $glow;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0; display: none;}
}
