@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* -----------------------------------------------------------------------------
  VARIABLES
------------------------------------------------------------------------------*/

$font-stack: 'Lato', sans-serif;
$laika-purple: #390099;
$laika-lighter: #FF0054;
$laika-white: #f8f8f8;

/* -----------------------------------------------------------------------------
  GENERAL STYLES
------------------------------------------------------------------------------*/

body {
  box-sizing: border-box;
  background-color: $laika-white;
  color: $laika-purple;
  font-family: $font-stack;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 4rem 2rem;
  position: absolute;
  width: 100vw;
}

a {
  color: $laika-purple;
  text-decoration: none;
  padding-bottom: 0.2em;
  border-bottom: 2px solid $laika-purple;
}

a:hover {
  color: $laika-lighter;
  border-bottom: 2px solid $laika-lighter;
  transition: border-bottom 450ms ease, color 450ms ease;
}

pre {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* -----------------------------------------------------------------------------
  USER INFO
------------------------------------------------------------------------------*/

.user-info {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem 0.9rem;
  justify-content: flex-end;

  .user-info__content {
    margin-right: 1rem;
    text-align: right;

    p {
      margin: 0 0 0.4em;
    }
  }
}

/* -----------------------------------------------------------------------------
  GAME CONTAINER
------------------------------------------------------------------------------*/

.gameContainer {
  margin-top: 2rem;
  position: relative;
}

.player {
  width: 56px;
  background-color: $laika-purple;
  height: 96px;
  position: absolute;
  top: 158px;
  left: 150px;
  display: block;
  z-index: -1;
  transform: scaleX(-1);
  background-position: -56px;
}
.monster {
  position: absolute;
  left: 100vw;
  top: 200px;
  width: 30px;
  height: 50px;
  display: block;
  background-color: $laika-lighter;
  animation: monsterAnimation 20s;
  animation-timing-function: linear;
}

@keyframes monsterAnimation {
  from {left: 100vw;}
  to {left: -5vw;}
}
