body {
  font-size: 1.3rem;
}

.headline {
  font-size: 4.8rem;
}

.user-info {
  .user-info__content {
    margin-right: 2rem;
  }
  .photo__container {
    width: 80px;
    height: 80px;
  }
}

.spacedust {
  top: 20%;
  animation: moveSpacedust 1.75s infinite linear;
}
