body {
  font-size: 1.3rem;
}

.logo {
  height: 19rem;
  width: 19rem;
}

.rotateIconContainer {
  display: none;
}

.headline {
  font-size: 4.8rem;
  margin: 1.5rem auto;
}

.login {
  margin-top: 2rem;
}

.user-info {
  .user-info__content {
    margin-right: 2rem;
  }
  .photo__container {
    width: 80px;
    height: 80px;
  }
}

.spacedust {
  top: 20%;
  animation: moveSpacedust 1.75s infinite linear;
}

.gameContainer {
  height: 50vh;
  position: relative;
  width: 100vw;
}

.player {
  text-align: center;
  .laika {
    margin-top: auto;
    width: 100%;
  }
}

.navigation {
  margin-bottom: 2rem;
}
