.rotateIconContainer {
  display: none;
}

.headline {
  font-size: 4rem;
  margin: 1.5rem auto 0;
}

.login {
  margin-top: 2rem;
}

.user-info {
  .user-info__content {
    margin-right: 2rem;
  }
  .photo__container {
    width: 80px;
    height: 80px;
  }
}
