/* -----------------------------------------------------------------------------
  START PAGE
------------------------------------------------------------------------------*/

.logo {
  margin-top: 1rem;
  padding: 0.5rem;
}

.headline {
  font-size: 1.5rem;
}

.login {
  margin-top: 1rem;
}

/* -----------------------------------------------------------------------------
  MAIN PAGE
------------------------------------------------------------------------------*/

.rotateIconContainer {
  display: none;
}

.user-info {
  right: 4%;
  width: auto;
}

.gameInfo {
  left: 4%;
  position: absolute;
  text-align: left;
  top: 4%;
  width: auto;
}

.gameContainer {
  height: 85vh;
}
