.logo {
  margin-top: 1rem;
  padding: 0.5rem;
}
.headline {
  font-size: 1.5rem;
}
.login {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.rotateIconContainer {
  display: none;
}
.user-info {
  right: 2%;
  margin-top: 0;
  width: auto;
}
.gameInfo {
  text-align: left;
  width: auto;
  position: absolute;
  top: 4%;
  left: 2%;
  margin-top: 0;
}
.gameContainer {
  height: 75vh;
}
.player {
  text-align: right;
  .laika {
    margin-top: 25%;
    width: 70%;
  }
}
.navigation {
  margin-bottom: 0.1rem;
}
