.logo {
  margin-top: 2rem;
  padding: 0.5rem;
}
.login {
  margin-bottom: 1rem;
}
.user-info {
  right: 2%;
  margin-top: 0;
  width: auto;
}
.gameInfo {
  text-align: left;
  width: auto;
  position: absolute;
  top: 4%;
  left: 2%;
  margin-top: 0;
}
.gameContainer {
  height: 40vh;
  position: relative;
  width: 100vw;
}
