/* -----------------------------------------------------------------------------
  GENERAL STYLES
------------------------------------------------------------------------------*/

body {
  font-size: 1.3rem;
}

/* -----------------------------------------------------------------------------
  START PAGE
------------------------------------------------------------------------------*/

.headline {
  font-size: 3.5rem;
}

/* -----------------------------------------------------------------------------
  MAIN PAGE
------------------------------------------------------------------------------*/

.player {
  width: 175px;
}

.monster {
  height: 75px;
  width: 75px;
  &.two {
    background-position: 0px -75px;
  }

  &.three {
    background-position: 0px -150px;
  }
}

.user-info {
  .photo__container {
    width: 80px;
    height: 80px;
  }
}

.gameContainer {
  height: 65vh;
}

.navigation {
  margin-bottom: 2rem;
}

/* -----------------------------------------------------------------------------
  HIGHSCORE LIST
------------------------------------------------------------------------------*/

.highscoreContainer {
  top: 10%;
}

.highscore__list {
  .highscore__list-item {
    font-size: 1.6rem;
  }
  .points {
    font-size: 2.2rem;
  }
}

.instructions {
  top: 30%;
}

.instructions::after {
  content: "Use Space or Arrow Up to jump";
}
