body {
  font-size: 1.3rem;
}

.headline {
  font-size: 3.5rem;
}

.gameContainer {
  height: 50vh;
}

.spacedust {
  top: 20%;
}

.player {
  text-align: center;
  .laika {
    margin-top: auto;
    width: 100%;
  }
}

.navigation {
  margin-bottom: 2rem;
}

/* -----------------------------------------------------------------------------
  HIGHSCORE LIST
------------------------------------------------------------------------------*/

.highscore__list {
  max-width: 350px;

  .highscore__list-item {
    font-size: 5rem;
  }

  .highscore__list-item .list-content {
    font-size: 1.5rem;
    bottom: 13px;
    left: 10px;
  }

  .points {
    font-size: 2.5rem;
  }
}
